* {
    margin: 0px;
    padding: 0px;
}

form {
    width: 285px;
}

label {
    display: inline-block;
    text-align: left;
    width: 85px;
    margin-left: 5px;
}

input {
    margin-bottom: 10px;
}

textarea {
    margin: 10px 5px;
    width: 200px;
    height: 100px;
}

input[type=submit] {
    display: block;
    margin-left: 5px;
}

div {
    display: inline-block;
    width: 200px;
}

.rightSide {
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}

.rightSide div {
    text-align: center;
    width: 300px;
    height: 80px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.rightSide p:first-child {
    padding: 10px;
}
